@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Pretendard';
}

body {
    background-color: white;
    color: white;

    user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
}

/* HEADER */
.header {
    background-color: #202020;
    height: fit-content;
    padding: 12px 28px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-menu {
    width: 48px;
    height: 48px;
    border: 2px solid #555;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.header-menu-img {
    width: 36px;
}

/* CONTENT */
/* CONTENT-SUMMARY */
.content-summary {
    width: 100%;
    height: 560px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.75) 0, rgba(0, 0, 0, 0.75) 90%), url("../images/content-summary-bg.jpg") 50% no-repeat;
}

.content-summary-title {
    margin-top: 72px;
    font-weight: 900;
    font-size: 52px;
    text-align: center;
    line-height: 64px;
    width: 100%;
    max-lines: 2;
    word-break: keep-all;
}

.content-summary-border {
    border-bottom: 4px solid #444;
    width: 64px;
    border-radius: 4px;
}

.content-summary-text {
    padding: 0 36px;
    width: 100%;
    text-align: center;
    line-height: 28px;
    font-size: large;
    word-break: keep-all;
}

.content-summary-btn {
    width: 172px;
    height: 56px;
    background-color: #444;
    border-radius: 28px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 72px;
}

.content-summary-btn-text {
    text-shadow: 1px 1px 2px #000;
    font-weight: bold;
}

/* CONTENT-ABOUTME */
.content-aboutme {
    background-color: #101010;
    height: fit-content;
}

.content-aboutme-title {
    margin: auto;
    padding: 64px 0;
    /* width: fit-content; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-aboutme-title-main {
    vertical-align: middle;
    text-align: center;
}

.content-aboutme-title-img {
    margin-right: 12px;
    width: 28px;
}

.content-aboutme-title-text {
    font-weight: 900;
    /* font-size: 3.25vmax; */
    border-bottom: 1.5px solid #444;
    font-size: 28px;
}

.content-aboutme-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-left: 12.5%;
    margin-right: 12.5%;
}

.content-aboutme-content-table {
    height: 72px;
    vertical-align: middle;
    margin-bottom: 28px;
}

.content-aboutme-content-img {
    width: 36px;
    text-align: end;
}

.content-aboutme-content-img img {
    width: 36px;
    margin-right: 24px;
}

.content-aboutme-content-title,
.content-aboutme-content-content {
    width: 60%;
}

.content-aboutme-content-title {
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 16px;
}

.content-aboutme-content-content {
    font-size: 16px;
    word-break: break-all;
}

/* CONTENT-SKILLS */
.content-skills {
    background-image: linear-gradient(to top, #e14fad 0%, #f9d423 100%);
    height: fit-content;
}

/* CONTENT-ARCHIVING */
.content-archiving {
    background-image: linear-gradient(to top, #b224ef 0%, #7579ff 100%);    height: fit-content;
}

/* CONTENT-PROJECTS */
.content-projects {
    background-image: linear-gradient(to top, #3b41c5 0%, #a981bb 49%, #ffc8a9 100%);
}

/* FOOTER */
.footer {
    background-color: #202020;
    height: fit-content;
    padding: 36px 28px;
    text-align: center;
}

.footer-link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 152px;
    margin: auto;
}

.footer-link-img {
    width: 42px;
}

.footer-copyright {
    margin-top: 12px;
    font-size: 14px;
}

@media (max-width: 767px) {
    .content-aboutme-content-table {
        width: 80%;
    }

    .content-aboutme-title-text {
        font-size: 32px;
    }

    .aboutme-mobile {
        margin-bottom: 64px;
    }

}

@media (min-width: 768px) and (max-width: 991px) {
    .content-aboutme-content-table {
        width: 40%;
    }

    .content-aboutme-title-img {
        width: 36px;
    }

    .content-aboutme-title-text {
        font-size: 40px;
    }

    .aboutme-tablet {
        margin-bottom: 64px;
    }
}

@media (min-width: 992px) {
    .content-aboutme-content-table {
        width: 30%;
    }

    .content-aboutme-title-img {
        width: 44px;
    }

    .content-aboutme-title-text {
        font-size: 48px;
    }

    .aboutme-desktop {
        margin-bottom: 64px;
    }
}