@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Pretendard';
}

body {
    background-color: white;
    color: white;

    user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
}

.header {
    background-color: #202020;
    height: fit-content;
    padding: 12px 28px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-menu {
    width: 48px;
    height: 48px;
    border: 2px solid #555;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.header-menu-img {
    width: 36px;
}

.content-summary {
    width: 100%;
    height: 560px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.75) 0, rgba(0, 0, 0, 0.75) 90%), url("../images/content-summary-bg.jpg") 50% no-repeat;
}

.content-summary-title {
    margin-top: 72px;
    font-weight: 900;
    font-size: 52px;
    text-align: center;
    line-height: 64px;
    width: 100%;
    max-lines: 2;
}

.content-summary-border {
    border-bottom: 4px solid #444;
    width: 64px;
    border-radius: 4px;
}

.content-summary-text {
    padding: 0 36px;
    width: 100%;
    text-align: center;
    line-height: 28px;
    font-size: large;
}

.content-summary-btn {
    width: 172px;
    height: 56px;
    background-color: #444;
    border-radius: 28px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 72px;
}

.content-summary-btn-text {
    text-shadow: 1px 1px 2px #000;
    font-weight: bold;
}

.content-aboutme {
    background-color: #101010;
    height: fit-content;
}

.content-aboutme-title {
    margin: auto;
    padding: 64px 0;
    /* width: fit-content; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-aboutme-title-side {
    width: 3vmax;
    vertical-align: middle;
    text-align: center;
}

.content-aboutme-title-main {
    vertical-align: middle;
    text-align: center;
}

.content-aboutme-title-img {
    margin-right: 12px;
}

.content-aboutme-title-text {
    font-weight: 900;
    /* font-size: 3.25vmax; */
    border-bottom: 1.5px solid #444;
}

.content-aboutme-title-img {
    width: 28px;
}

.content-aboutme-title-text {
    font-size: 28px;
}

.content-aboutme-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.content-aboutme-content-table {
    height: 96px;
    padding: 12px 24px;
    vertical-align: middle;
}

.content-aboutme-content-img {
    width: 40%;
}

.content-aboutme-content-img img {
    width: 36px;
}

.content-aboutme-content-title,
.content-aboutme-content-content {
    width: 60%;
}

.content-aboutme-content-title {
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 16px;
}

.content-aboutme-content-content {
    font-size: 16px;
}

.content-aboutme-marbo {
    padding-bottom: 64px;
}

@media (max-width: 767px) {
    .content-aboutme-content-table {
        width: 240px;
    }

}

@media (min-width: 768px) and (max-width: 991px) {
    .content-aboutme-title-img {
        width: 36px;
    }

    .content-aboutme-title-text {
        font-size: 36px;
    }
}

@media (min-width: 992px) {
    .content-aboutme-title-img {
        width: 44px;
    }

    .content-aboutme-title-text {
        font-size: 44px;
    }
}