@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'RixInooAriDuriR';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2207-01@1.0/RixInooAriDuriR.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Pretendard';
    color: white;
    text-decoration: none;
    box-sizing: border-box;
}


body {
    background-color: white;
    color: white;

    user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
}

.text-black {
    color: #101010;
}

.border-black {
    border: solid #101010;
}

.wrapper {
    position: relative;
}

/* HEADER */
.header {
    background-color: #202020;
    height: fit-content;
    padding: 12px 28px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    left: 0px;
    top: 0px;
    z-index: 1;
}

.header-menu {
    width: 48px;
    height: 48px;
    border: 2px solid #555;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-menu-img {
    width: 36px;
}

/* CONTENT */
.content {
    position: relative;
}

/* CONTENT-SUMMARY */
.content-summary {
    width: 100%;
    height: 560px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.75) 0, rgba(0, 0, 0, 0.75) 90%), url("../images/index/content/summary/content-summary-bg.jpg") 50% no-repeat;
}

.content-summary-title {
    margin-top: 72px;
    font-weight: 900;
    font-size: 52px;
    text-align: center;
    line-height: 64px;
    width: 100%;
    max-lines: 2;
    word-break: keep-all;
}

.content-summary-border {
    border-bottom: 4px solid #444;
    width: 64px;
    border-radius: 4px;
}

.content-summary-text {
    padding: 0 36px;
    width: 100%;
    text-align: center;
    line-height: 28px;
    font-size: large;
    word-break: keep-all;
}

.content-summary-btn {
    width: 172px;
    height: 56px;
    background-color: #444;
    border-radius: 28px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 72px;
    cursor: pointer;
}

.content-summary-btn-text {
    text-shadow: 1px 1px 2px #000;
    font-weight: bold;
}

/* CONTENT */
.content-pageup {
    position: fixed;
    bottom: 50px;
    right: 50px;
    border-radius: 8px;
    background-color: rgba(60, 60, 60, 0.5);
    cursor: pointer;
}

/* CONTENT-GENERAL */
.content-title {
    margin: auto;
    padding: 64px 0;
}

hr {
    margin-top: 6px;
    border: solid #FFF;
    height: 3px;
}

.content-title-text {
    font-family: 'RixInooAriDuriR';
}

/* CONTENT-ABOUTME */
.content-aboutme {
    background: linear-gradient(to bottom, #323232 0%, #3F3F3F 40%, #1C1C1C 150%), linear-gradient(to top, rgba(255, 255, 255, 0.40) 0%, rgba(0, 0, 0, 0.25) 200%);
    background-blend-mode: multiply;
    height: fit-content;
}

.content-aboutme-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.content-aboutme-content-table {
    height: 72px;
    vertical-align: middle;
    margin-bottom: 28px;
}

.content-aboutme-content-img {
    text-align: end;
}

.content-aboutme-content-img img {
    width: 36px;
    margin-right: 24px;
}

.img-bigsize img {
    width: 28px;
    padding: 4px;
}

.content-aboutme-content-title,
.content-aboutme-content-content {
    width: 60%;
}

.content-aboutme-content-title {
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 16px;
}

.content-aboutme-content-content {
    font-size: 16px;
}

/* CONTENT-SKILLS */
.content-skills {
    background-image: linear-gradient(to top, #e14fad 0%, #f9d423 100%);
    height: fit-content;
    padding-bottom: 64px;
}

.content-skills-flex {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.content-skills-box {
    background-color: #101010;
    border-radius: 16px;
    box-shadow: 8px 8px 16px #202020;
    transition: all .2s ease-in-out;
    margin-bottom: 64px;
}

.content-skills-box:hover {
    transform: translateY(12px);
}

.content-skills-box-border {
    margin-bottom: 24px;
}

.content-skills-box-div {
    text-align: center;
}

/* CONTENT-ARCHIVE */
.content-archive {
    background-image: linear-gradient(to top, #b224ef 0%, #7579ff 100%);
    height: fit-content;
}

.content-archive-flex {
    padding-bottom: 64px;
}

.content-archive-github,
.content-archive-blog {
    background-color: #101010;
    border-radius: 16px;
    box-shadow: 8px 8px 16px #202020;
    transition: all .2s ease-in-out;
    margin-bottom: 64px;
}

.content-archive-github:hover {
    transform: translateY(12px);
}

.content-archive-github-title-box {
    display: flex;
    align-items: center;
}

.content-archive-github-img {
    width: 192px;
    filter: brightness(100);
}

.content-archive-tistory-img {
    width: 216px;
}

.content-archive-link-img {
    margin-left: 12px;
    width: 28px;
}

.content-archive-link-img:hover {
    animation: link-hover .4s ease-in-out infinite;
}

.content-archive-github-title-box p {
    margin-left: 12px;
    font-size: 36px;
}

.content-archive-github-content-box-lh {
    line-height: 64px;
}

.content-archive-github-content-box ul li {
    margin-left: 20px;
    line-height: 32px;
}

/* CONTENT-PROJECTS */
.content-projects {
    background-image: linear-gradient(to top, #3b41c5 0%, #a981bb 49%, #ffc8a9 100%);
}

/* CONTENT_CAREER */
.content-career {
    background-image: linear-gradient(to bottom, #3ab5b0 0%, #3d99be 31%, #56317a 100%);
}

/* FOOTER */
.footer {
    background-color: #202020;
    height: fit-content;
    padding: 36px 28px;
    text-align: center;
}

.footer-link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 152px;
    margin: auto;
}

.footer-link-img {
    width: 42px;
}

.footer-copyright {
    margin-top: 12px;
    font-size: 14px;
}

@keyframes link-hover {
    0% {
        transform: scale(1.0);
    }

    50% {
        transform: scale(1.15);

    }

    100% {
        transform: scale(1.0);
    }
}

@media (max-width: 767px) {
    .content-title-text {
        font-size: 32px;
    }

    .content-aboutme-content {
        padding: 10%, 0;
    }

    .content-aboutme-content-table {
        width: 75%;
    }

    .content-aboutme-title-text {
        font-size: 32px;
    }

    .aboutme-mobile {
        margin-bottom: 64px;
    }

    /* CONTENT-SKILLS */
    .content-skills-box {
        margin: 0 15%;
        padding: 36px;
        width: 100%;
    }

    .content-skills-box-title {
        font-size: 24px;
        font-weight: 700;
    }

    .content-skills-box-div img {
        width: 30%;
        padding: 12px;
    }

    .skills-mobile {
        margin-bottom: 64px;
    }

    /* CONTENT-ARCHIVE */

    .content-archive-github,
    .content-archive-blog {
        margin: 0 15%;
        padding: 36px;
        word-break: keep-all;
    }

    .content-archive-github {
        margin-bottom: 64px;
    }

}

@media (min-width: 768px) and (max-width: 960px) {
    .content-title-text {
        font-size: 40px;
    }

    .content-aboutme-content-table {
        width: 47.5%;
    }

    .content-aboutme-title-img {
        width: 36px;
    }

    .content-aboutme-title-text {
        font-size: 40px;
    }

    .aboutme-tablet {
        margin-bottom: 64px;
    }

    /* CONTENT-SKILLS */
    .content-skills-flex {
        justify-content: center;
        width: fit-content;
    }

    .content-skills-box {
        width: 35%;
        padding: 36px;
        margin: 24px;
    }

    .content-skills-box-title {
        font-size: 20px;
        font-weight: 700;
    }

    .content-skills-box-div img {
        width: 88px;
        padding: 12px;
    }
}

@media (min-width: 961px) {
    .content-title-text {
        font-size: 48px;
    }

    .content-aboutme-content-table {
        width: 31.7%;
    }

    .content-aboutme-title-img {
        width: 44px;
    }

    .content-aboutme-title-text {
        font-size: 48px;
    }

    .aboutme-desktop {
        margin-bottom: 64px;
    }

    /* CONTENT-SKILLS */
    .content-skills-flex {
        justify-content: center;
        width: fit-content;
        padding-left: 7.5%;
        padding-right: 7.5%;
    }

    .content-skills-box {
        width: 25%;
        padding: 36px;
    }

    .content-skills-box-title {
        font-size: 20px;
        font-weight: 700;
    }

    .content-skills-box-div img {
        width: 84px;
        padding: 12px;
    }

    .skills-desktop {
        margin: 24px;
    }
}