* {
    color: white;
}

p {
    font-size: 16px;
}

@media screen and (max-width: 542px) {
    .gps-title {
        text-align: center;
        font-weight: 900;
        font-size: 20px;
    }

    .gps-deployment-title {
        font-weight: 700;
        font-size: 16px;
    }
}

@media screen and (min-width: 543px) and (max-width: 695px) {
    .gps-title {
        text-align: center;
        font-weight: 900;
        font-size: 24px;
    }

    .gps-deployment-title {
        font-weight: 700;
        font-size: 20px;
    }
}

@media screen and (min-width: 696px) {
    .gps-title {
        text-align: center;
        font-weight: 900;
        font-size: 28px;
    }

    .gps-deployment-title {
        font-weight: 700;
        font-size: 24px;
    }
}

.overlay-addi-deployment-title,
.overlay-addi-summary-title,
.overlay-addi-function-title,
.overlay-addi-meaning-title,
.overlay-addi-technology-title {
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 8px;
    margin-top: 24px;
}

.overlay-addi-deployment-title {
    margin-top: 0;
}

.overlay-addi-summary-content-function-title {
    font-weight: 700;
    font-size: 18px;
}

.overlay-addi-deployment-content {
    text-decoration: underline;
    color: #88F;
}

#addi-li {
    margin-left: 24px;
}

.overlay-addi-deployment-content,
.overlay-addi-summary-content,
.overlay-addi-function-content,
.overlay-addi-meaning-content,
.overlay-addi-technology-content {
    font-size: 16px;
}